{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "E-mail Addresses" %}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link href="{% static 'fontawesome/css/regular.min.css' %}" rel="stylesheet" type="text/css">
{% endblock extra_css %}

{% block content %}

<div class="container text-center div__highlight mt-5">
    <div class="row">
        <div class="col-md-8 mt-2 offset-md-2">
            <h1>{% trans "E-mail Addresses" %}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 mt-2 mb-3 offset-md-2">
            {% if user.emailaddress_set.all %}
            <p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>

            <form action="{% url 'account_email' %}" class="email_list" method="post">
                {% csrf_token %}
                <fieldset class="blockLabels">
                    {% for emailaddress in user.emailaddress_set.all %}
                        {% if forloop.first %}
                            <div class="row">
                                <div class="col-lg-4 offset-lg-4 col-md-3 offset-md-6 text-center">
                                    <p>{% trans "Verified" %}</p>
                                </div>
                                <div class="col-lg-4 col-md-3 text-center">
                                    <p>{% trans "Primary" %}</p>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row ctrlHolder">
                            <div class="col-lg-4 col-md-6 text-start">
                                <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">
                                    <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}">
                                    {{ emailaddress.email }}
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-3 text-center">
                                {% if emailaddress.verified %}
                                <span class="verified"><i class="fa-regular fa-square-check"></i></span>
                                {% else %}
                                <span class="unverified"><i class="fa-regular fa-square"></i></span>
                                {% endif %}
                            </div>
                            <div class="col-lg-4 col-md-3 text-center">
                                {% if emailaddress.primary %}
                                <span class="primary"><i class="fa-solid fa-envelope-circle-check"></i></span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="row buttonHolder">
                        <div class="col-xl-4 col-lg-6 mt-2">
                            <button id="id--primary-email" class="btn btn-secondary btn__dbl-text-lg secondaryAction" type="submit" name="action_primary">
                                {% trans 'Make Primary' %}
                            </button>
                        </div>
                        <div class="col-xl-4 col-lg-6 mt-2">
                            <button id="id--resend-email" class="btn btn-secondary btn__dbl-text-lg secondaryAction" type="submit" name="action_send">
                                {% trans 'Re-send Verification' %}
                            </button>
                        </div>
                        <div class="col-xl-4 col-lg-12 mt-2">
                            <button id="id--remove-email" class="btn btn-primary btn__dbl-text-lg primaryAction" type="submit" name="action_remove">
                                {% trans 'Remove' %}
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>

            {% else %}
            <p><strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>
            {% endif %}
        </div>
    </div>

    {% if can_add_email %}
    <div class="row">
        <div class="col-md-8 mt-2 offset-md-2">
            <h2>{% trans "Add E-mail Address" %}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 mt-2 offset-md-2">
            <form method="post" action="{% url 'account_email' %}" class="add_email">
                {% csrf_token %}

                {% include "snippet/form_errors.html" %}

                {% for field in form %}
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <label for="{{ field.auto_id }}" class="form-label">{{ field.label }}</label>
                    </div>
                    <div class="col-sm-9">
                        {{ field }}
                    </div>
                </div>
                {% endfor %}

                <div class="row">
                    <div class="col-4 offset-4 mt-2 mb-3">
                        <button class="btn btn-primary" type="submit" name="action_add">
                            {% trans "Add E-mail" %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
{% endblock %}


{% block extra_body %}
<script type="text/javascript">
(function() {
    const message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
    const actions = document.getElementsByName('action_remove');
    if (actions.length) {
        actions[0].addEventListener("click", function(e) {
          if (! confirm(message)) {
            e.preventDefault();
          }
    });
  }
})();
</script>
{% endblock %}
