# Production requirements
psycopg2==2.9.6
django==4.2.2
gunicorn~=20.1.0
django-environ==0.10.0
django-summernote~=0.8.20.0
django-allauth==0.54.0

# cloudinary static file storage
dj3-cloudinary-storage~=0.0.6
cloudinary==1.33.0

# aws s3 static file storage
django-storages~=1.13.2
boto3~=1.26.103

requests==2.31.0
beautifulsoup4==4.12.2
lxml==4.9.2
django-countries==7.5.1
json-fix==0.5.2
python-dateutil~=2.8.2
stripe==5.4.0
jsonpickle~=3.0.1
human-friendly_pedantic-timedelta~=2.0.11
more-itertools~=9.1.0
timedelta-isoformat==0.6.2.10
