{% extends "base.html" %}

<!-- checkout.html start -->
{# --- checkout.html template variable defines for includes --- #}
{# checkout template expects: 'snippets' as list of extra html code blocks to include #}

{% load i18n %}
{% load static %}
{% load humanize %}
{% load tz %}
{% load form_field %}
{% load dict_value %}

{% block extra_js_head %}
    {{ block.super }}
    {% include "snippet/jquery.html" %}
{% endblock extra_js_head %}

{% block head_title %}{{ title }}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link href="{% static 'checkout/css/stripe_checkout.css' %}" rel="stylesheet" type="text/css">
{% endblock extra_css %}

{% block content %}
<div class="row mt-2">
    {% if page_heading %}
    <div class="col-12 text-center">
        <h3>{{ page_heading | safe }}</h3>
    </div>
    {% endif %}
</div>

<div class="row flex-grow-1 overflow-auto d-flex justify-content-center">
    <article id="article-content" class="row d-flex justify-content-center">

        <div class="row" id="id__basket-div">
            {# --- basket.html template variable defines for includes --- #}
            {# basket template expects: 'basket' as Basket #}
            {#                          'currencies' as currency choices for select #}
            {% include 'checkout/snippet/basket.html' %}
        </div>

        <!-- Display a payment form -->
        <form id="payment-form">
            <div id="link-authentication-element">
                <!--Stripe.js injects the Link Authentication Element-->
            </div>
            <div id="payment-element">
                <!--Stripe.js injects the Payment Element-->
            </div>
            <button id="submit">
                <div class="spinner hidden" id="spinner"></div>
                <span id="button-text">Pay now</span>
            </button>
            <div id="payment-message" class="hidden"></div>
        </form>
    </article>
</div>

{% for snippet in snippets %}
    {{ snippet | safe }}
{% endfor %}

{% endblock content %}

{% block extra_js_body %}
    {{ block.super }}
    <script>
        const STRIPE_PUBLISHABLE_KEY = '{{ stripe_publishable_key }}';
        const CREATE_PAYMENT_INTENT_URL = '{% url "checkout:payment_intent" %}';
        const baseUrl = window.location.href.slice(0, window.location.href.indexOf(window.location.pathname))
        const stripeReturnUrl = () => `${baseUrl}{% url "checkout:paid" %}`;
        const UPDATE_BASKET_URL = '{% url "checkout:update_basket" %}';

        const paymentCurrencySelectSelector = "#id__pay-ccy-select";




        $(document).ready(function() {
            initialize().then();
            checkStatus().then();

            setPaymentCcyChangeHandler();
        });



    </script>
    <script src="{% static 'checkout/js/stripe_checkout.js' %}"></script>
{% endblock extra_js_body %}
<!-- checkout.html end -->
