<!-- basket.html start -->
{# --- basket.html template variable defines for includes --- #}
{# basket template expects: 'basket' as Basket #}
{#                          'currencies' as currency choices for select #}

{% load i18n %}

<table class="table text-center">
    <thead>
        <tr>
            <th scope="col">Description</th>
            <th scope="col">Unit cost</th>
            <th scope="col">Units</th>
            <th scope="col">Item total</th>
            <th scope="col">Currency</th>
            <th scope="col">SKU</th>
            <th scope="col"><em>Subtotal<br>{{ basket.currency }}</em></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for item in basket.items %}
            <tr id="id__item-row-{{ forloop.counter0 }}">
                <td>{{ item.description }}</td>
                <td>{{ item.amt_str }}</td>
                <td>
                    <div class="d-flex justify-content-center align-content-center">
                        <input type="number" class="form-control form-control-sm w-50 p-1 justify--center" id="id__units-item-{{ forloop.counter0 }}"
                               value="{{ item.count }}" min="1"  data-bs-href="{% url 'checkout:update_basket' %}?item={{forloop.counter0}}">
                        <a class="text-reset text-decoration-none" href="{% url 'checkout:update_basket' %}?item={{forloop.counter0}}"
                           id="id__item-delete-{{ forloop.counter0 }}">
                            <i class="fa-solid fa-trash-can p-2"></i>
                        </a>
                    </div>
                </td>
                <td>{{ item.item_total_str }}</td>
                <td>{{ item.currency }}</td>
                <td>{{ item.sku }}</td>
                <td>{{ basket.subtotals.0 }}</td>
            </tr>
            {% if item.instructions %}
                <tr>
                    <td><em>Instructions</em></td>
                    <td colspan="5">{{ item.instructions }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
    <tfoot class="table-group-divider">
        <tr>
            <!-- TODO bottom line of bottom row of basket not 100% even -->
            <td class="row">
                <div class="col-sm-6 d-flex justify-content-end align-content-center">
                    <em>Pay in</em>
                </div>
                <div class="col-sm-6">
                    <div class="d-flex justify-content-center">
                        <select id="id__pay-ccy-select" class="form-select form-select-sm" aria-label="payment currency selection">
                            {% for currency in currencies %}
                            <option value="{{ currency.0 }}" {% if currency.0 == basket.currency %} selected {% endif %}>{{ currency.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </td>
            <td colspan="4">
            </td>
            <td><b><em>Total&nbsp;{{ basket.currency }}</em></b></td>
            <td><em>{{ basket.total_str }}</em></td>
        </tr>
    </tfoot>
</table>
<!-- basket.html end -->
