<!-- basket.html start -->
{# --- basket.html template variable defines for includes --- #}
{# basket template expects: 'basket' as Basket #}
{#                          'currencies' as currency choices for select #}

{% load i18n %}

<table class="table text-center">
    <thead>
        <tr>
            <th scope="col">Description</th>
            <th scope="col">Unit cost</th>
            <th scope="col">Units</th>
            <th scope="col">Item total</th>
            <th scope="col">Currency</th>
            <th scope="col">SKU</th>
            <th scope="col"><em>Subtotal<br>{{ basket.currency }}</em></th>
        </tr>
    </thead>
    <tbody>
        {% for item in basket.items %}
            <tr>
                <td>{{ item.description }}</td>
                <td>{{ item.amt_str }}</td>
                <td>{{ item.count }}</td>
                <td>{{ item.item_total_str }}</td>
                <td>{{ item.currency }}</td>
                <td>{{ item.sku }}</td>
                <td>{{ basket.subtotals.0 }}</td>
            </tr>
            {% if item.instructions %}
                <tr>
                    <td><em>Instructions</em></td>
                    <td colspan="5">{{ item.instructions }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <td class="row">
                <div class="col-sm-6">
                    <span>Pay in</span>
                </div>
                <div class="col-sm-6">
                    <select id="id__pay-ccy-select" class="form-select" aria-label="payment currency selection">
                        {% for currency in currencies %}
                            <option value="{{ currency.0 }}" {% if currency.0 == basket.currency %} selected {% endif %}>{{ currency.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </td>
            <td colspan="4"></td>
            <td><b><em>Total {{ basket.currency }}</em></b></td>
            <td><em>{{ basket.total_str }}</em></td>
        </tr>
    </tbody>
</table>
<!-- basket.html end -->
