@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Rokkitt:wght@300;400;500;600&display=swap');

:root {
    --heading-font: 'Kanit', sans-serif;
    --heading-font-weight: 400;
    --heading-bold-font-weight: 500;
    --paragraph-font: 'Rokkitt', serif;
    --paragraph-light-font-weight: 300;
    --paragraph-font-weight: 400;
    --paragraph-bold-font-weight: 600;

    /* accent colors from https://huemint.com/bootstrap-plus/#palette=e6ebeb-ffffff-00062e-5a3f6a-8c5683-cd6f6a-cc8965-ba6d4d-e6b3a0 */
    --accent1: #cc8965;
    --accent2: #ba6d4d;
    --accent3: #e6b3a0;

    --accent3-contrast: #00504A;

    /* bootstrap colours */
    --text-muted: #6c757d;
}

html {
    height: 100%;
}

.no-padding {
    padding: 0;
}

/* Colour classes */
.theme-colour {
    color: var(--accent3);
}

.btn__text {
    width: 7em;
}

/* tiny screens, 315px wide or less */
@media screen and (max-width: 315px) {
    .btn__text {
        width: min-content;
    }
}