<!-- address_list_content.html start -->
{# --- address_list_content.html template variable defines for includes --- #}
{# address list content template expects: 'paginator' as a Paginator #}
{#                                        'address_list' as a list of Address #}
{#                                        'content_status' as a list of ContentStatus in order corresponding to opinion_list #}
{#                                        'popularity' as a dict with 'opinion_<id>' as the key and PopularityLevel value #}

{% load i18n %}
{% load static %}

{% block address_list_content %}
    <var id="var--repeat-search-term" hidden>{{ repeat_search_term }}</var>

    <div class="row">
        {% for address_dto in address_list %}

            {# address dto template expects: 'address_dto' as AddressDto #}
            {#                               'identifier' as individual identifier #}
            {% with identifier=address_dto.id %}
                {% include "profiles/address_dto.html" %}
            {% endwith %}

            {# --- card-row-separator.html template variable defines for includes --- #}
            {# card row separator template expects: 'margin_b' as bottom margin class #}
            {#                                      'row1' as row breakpoints for 1 cards per row #}
            {#                                      'hide1' as hide above flag for 1 cards per row #}
            {#                                      'row2' as row breakpoints for 2 cards per row #}
            {#                                      'hide2' as hide above flag for 2 cards per row #}
            {#                                      'row3' as row breakpoints for 3 cards per row #}
            {#                                      'hide3' as hide above flag for 3 cards per row #}
            {#                                      'row4' as row breakpoints for 4 cards per row #}
            {#                                      'hide4' as hide above flag for 4 cards per row #}
            {# margin_b and row/hide settings to match card from address_dto.html #}
            {# https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing #}
            {% with margin_b='mb-4' row1='xs-sm' hide1='y' row2='md-lg' hide2='y' row3='xl' hide3='' row4='' hide4='' %}
                {% include 'snippet/card-row-separator.html' %}
            {% endwith %}
        {% endfor %}
    </div>

    {# per page and page selection #}
    {% with "Addresses per page" as per_page_aria %}
        {% include "snippet/per_page_pagination_select.html" %}
    {% endwith %}
{% endblock address_list_content %}

{% block extra_js_body %}
    <script>
        const ADD_ADDRESS_URL = "{% url 'profiles:address_new' %}";
    </script>
    <script src="{% static 'js/address_dto.js' %}"></script>
{% endblock extra_js_body %}
<!-- address_list_content.html end -->
