<!-- category_list_content.html start -->
{# --- category_list_content.html template variable defines for includes --- #}
{# category list content template expects: 'paginator' as a Paginator #}
{#                                       : 'category_list' as a list of CategoryDto #}

{% load i18n %}
{% load static %}

{% block recipe_list_content %}
    <var id="var--repeat-search-term" hidden>{{ repeat_search_term }}</var>

    {% if paginator.count == 0 %}
        {% include "recipes/snippet/no_content.html" %}
    {% else %}
        <div class="row text-center mb-3">
            <p>
                {% for letter in letters %}
                    {% spaceless %}
                        <a {% if letter.1 %}href="{% url 'recipes:recipe_categories' %}?letter={{ letter.1 }}"{% else %}href="{% url 'recipes:recipe_categories' %}"{% endif %}
                           aria-label="list categories {{ letter.2 }}">{{ letter.0 }}</a>
                        {% if not forloop.last %}
                            &emsp;
                        {% endif %}
                    {% endspaceless %}
                {% endfor %}
            </p>
        </div>
        {# below sm: 1 per row  sm: 2 per row  md: 3 per row  lg: 4 per row  xl: 5 per row  xxl+: 6 per row #}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 mb-3">
            {% for category_dto in category_list %}
                <a href="{% url 'recipes:recipes' %}?category={{ category_dto.name }}" aria-label="list {{ category_dto.name }} recipes">
                    {{ category_dto.name }}
                </a>
            {% endfor %}
        </div>

        {# per page and page selection #}
        {% with "Recipes per page" as per_page_aria %}
            {% include "snippet/per_page_pagination_select.html" %}
        {% endwith %}
    {% endif %}
{% endblock recipe_list_content %}

<!-- category_list_content.html end -->
