{% extends "base.html" %}

<!-- ingredients_form.html start -->
{# --- ingredients_form.html template variable defines for includes --- #}
{# ingredients form template expects: 'ingredients' as list of RecipeIngredientForm #}
{#                                    'new_ingred_form' as RecipeIngredientNewForm #}
{#                                    'new_url' as url to add new ingredient #}
{#                                    'refresh_url' as url to refresh ingredient list #}
{#                                    'recipe_dto' as RecipeDto #}

{% load i18n %}
{% load static %}
{% load form_submit_btn_id  a_id  lookup_value  delete_modal_ids  form_auto_id %}

{% block head_title %}{{ title }}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link href="{% static 'css/styles-recipes.css' %}" rel="stylesheet" type="text/css">
{% endblock extra_css %}

{% block extra_js_head %}
    {{ block.super }}
{% endblock extra_js_head %}

{% block content %}
<div class="row mt-2 mb-2">
    {% if page_heading %}
    <div class="col-12 text-center">
        <h3>{{ page_heading | safe }}</h3>
    </div>
    {% endif %}
</div>

{% with entity='ingredient' delete_identifier='ingredient-del' %}
    <article id="article-content" class="row d-flex justify-content-center">
        <div class="col-lg-10 col-md-11 col-sm-12">

            <div class="row mb-3 text-center">
                <div class="col-sm-2">
                    <h6>Index</h6>
                    {% if new_ingred_form %}
                    <div class="form-text small">
                        {% lookup_value new_ingred_form.Meta.help_texts 'index' as index_help_message %}
                        {{ index_help_message }}
                    </div>
                    {% endif %}
                </div>
                <div class="col-sm-2">
                    <h6>Quantity</h6>
                </div>
                <div class="col-sm-2">
                    <h6>Measure</h6>
                </div>
                <div class="col-sm-3">
                    <h6>Ingredient</h6>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            {% for ingredient in ingredients %}
                <form {% if not read_only %} class="needs-validation" novalidate method="post" action="{% url 'recipes:recipe_ingredient_id' ingredient.form.instance.id %}" enctype="multipart/x-www-form-urlencoded" {% endif %}>
                    {% if not read_only %}
                        {% csrf_token %}
                    {% endif %}

                    <fieldset class="row mb-3 text-center" {% if read_only %} disabled {% endif %}>
                        {% for field in ingredient.form %}
                        <div class="col-sm-2">
                            {{ field }}
                            <div class="invalid-feedback">
                                {% lookup_value new_ingred_form.Meta.error_messages field.name 'combined' as error_message %}
                                <p>{{ error_message }}</p>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-sm-3">
                            {{ ingredient.name | safe }}
                        </div>
                        <div class="col-sm-3">
                            {# update/delete buttons form template expects: 'entity' as entity name #}
                            {#                                              'delete_url' as url to delete an entity #}
                            {#                                              'delete_identifier' as entity delete identifier for delete button class & id #}
                            {#                                                  e.g. class="a--delete_identifier", id="id--delete_identifier-a-1 #}
                            {% url 'recipes:recipe_ingredient_id' ingredient.form.instance.id as delete_url %}
                            {% include 'recipes/snippet/update_delete_buttons.html' %}
                        </div>
                    </fieldset>
                </form>
            {% endfor %}
            {% if not read_only %}
                <form method="post" class="needs-validation" novalidate action="{{ new_url }}" enctype="multipart/x-www-form-urlencoded"
                    id="id__ingredient-form-new">
                    {% csrf_token %}

                    <fieldset class="row mb-3 text-center">
                        {% for field in new_ingred_form %}
                            {% if field.name != 'ingredient' and field.name != 'ingredient_id' %}
                                <div class="col-sm-2 mb-3">
                                    {{ field }}
                                    {% if not field.is_hidden %}
                                        <div class="invalid-feedback">
                                            {% lookup_value new_ingred_form.Meta.error_messages field.name 'combined' as error_message %}
                                            <p>{{ error_message }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="col-sm-3 mb-3">
                            {{ new_ingred_form.ingredient }}
                            {{ new_ingred_form.ingredient_id }}
                            <div class="invalid-feedback">
                                {% lookup_value new_ingred_form.Meta.error_messages entity 'combined' as error_message %}
                                <p>{{ error_message }}</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <button id="{% form_submit_btn_id 'ingredient-new' %}"
                                    class="btn btn-primary primaryAction me-2"
                                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add ingredient"
                                    type="submit">
                                <i class="fa-solid fa-cloud-arrow-up"></i>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                            </button>
                        </div>
                    </fieldset>
                </form>
            {% endif %}
        </div>

        <div class="col-lg-10 col-md-11 col-sm-12">
            {# --- page_done.html template variable defines for includes --- #}
            {# page done template expects: 'done_url' as url for done action #}
            {#                             'done_text' as text for done button #}
            {#                             'large' as large button flag #}
            {% url 'recipes:recipe_id' recipe_dto.id as done_url %}
            {% include 'snippet/page_done.html' %}
        </div>

        <datalist id="id__ingredient-datalist">
            {% for ingredient in ingredient_list %}<option value="{{ ingredient | safe }}">{% endfor %}
        </datalist>

    </article>

    {# entity delete modal template expects: 'entity' as entity name #}
    {#                                       'refresh_url' as url to goto after deletion complete #}
    {% with entity='Ingredient' %}
        {% include "base/snippet/entity_delete_modal.html" %}
    {% endwith %}

    {% delete_modal_ids entity as ids %}

    {{ ingredient_id_map|json_script:"id__ingredient_id_map" }}

    <script type='text/javascript' src="{% static 'js/update_delete_button.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/delete_modal.js' %}"></script>
    <script>
        // copy of all valid ingredient names
        const ingredientList = [...document.querySelectorAll('#id__ingredient-datalist option')].map(option => option.value);
        const ingredientIdMap = JSON.parse(document.getElementById('id__ingredient_id_map').textContent);

        const newIngredientFormSelector = '#id__ingredient-form-new';
        const newIngredientInputSelector = '#id__ingredient-input-new';
        const newIngredientIdInputSelector = "#{% form_auto_id 'ingredient_id' %}";
        const newIngredientUploadSelector = "#{% form_submit_btn_id 'ingredient-new' %}";

        /**
         * Validate that the new ingredient name input is valid
         *
         * TODO custom validation edge cases require more work
         *
         * @param event - event, may be 'change' or 'submit'
         * @returns {boolean}
         */
        function newIngredientIsValid(event) {
            // https://getbootstrap.com/docs/5.2/forms/validation/
            // entered value has to be one of the entries in the datalist
            let isValid = ingredientList.includes(
                $(newIngredientInputSelector).first().val()
            );
            let add = 'is-invalid';
            let remove = 'is-valid';

            $(newIngredientInputSelector).removeClass('is-invalid is-valid');
            if (isValid) {
                add = 'is-valid';
                remove = 'is-invalid';
            }
            $(newIngredientInputSelector).addClass(add);
            $(newIngredientInputSelector).removeClass(remove);
            return isValid
        }

        $(document).ready(function () {
            setupAddUpdateDelHandlers(
                newIngredientUploadSelector,                        // newSelector
                "button[id^='{% form_submit_btn_id entity %}']",    // updateSelector
                "a[id^='{% a_id delete_identifier %}']",            // delSelector
                "#{{ ids.close_btn_id }}",                          // delCloseSelector
                "#{{ ids.cancel_btn_id }}"                          // delCancelSelector
            );

            $(newIngredientInputSelector).on('change', function (event) {
                // handle new ingredient name input change
                newIngredientIsValid(event);
            });
            $(newIngredientInputSelector).on('input', function (event) {
                // remove classes on any new ingredient name input keypress
                $(newIngredientInputSelector).removeClass('is-invalid is-valid was-validated valid');
            });
            $(newIngredientFormSelector).on('submit', function (event) {
                if (!newIngredientIsValid(event)) {
                    event.preventDefault();

                    showIconHideSpinner(newIngredientUploadSelector);
                } else {
                    const ingredientName = $(newIngredientInputSelector).val();
                    if (ingredientIdMap.hasOwnProperty(ingredientName)) {
                        // set hidden ingredient id field to ingredient id
                        const ingredientId = ingredientIdMap[ingredientName];
                        $(newIngredientIdInputSelector).val(ingredientId);
                    }
                }
            });
        });
    </script>
{% endwith %}
{% endblock content %}

<!-- ingredients_form.html end -->
