<!-- recipe_dto.html start -->
{# --- recipe_dto.html template variable defines for includes --- #}
{# recipe dto template expects: 'recipe_dto' as RecipeDto #}
{#                              'identifier' as individual identifier #}

{% load i18n %}
{% load static %}
{% load image_url  human_readable_timedelta  attr_append %}

{# below sm: 1 per row  sm-md: 2 per row  lg: 3 per row  xl+: 4 per row #}
<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
    <a href="{% url 'recipes:recipe_id' recipe_dto.id %}" class="a__recipe-card" aria-label="view recipe">
        <div class="card rounded-3 h-100">
            {% attr_append 'class="card-img-top"' 'img__stock-image' recipe_dto.main_image.is_static_image as img_class %}
            <img {{ img_class | safe }}
                 alt="{{ recipe_dto.name }} image" src="{% image_url recipe_dto.main_image %}">
            <div id="id--recipe-{{identifier}}"
                 class="card-body div__recipe-{{recipe_dto.id}}">
                <div class="row mb-3">
                    <div class="col-12 text-center">
                        <h5 class="card-title">{{ recipe_dto.name | safe }}</h5>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="card-text">{{ recipe_dto.author.username }}</p>
                            </div>
                            <div class="col-sm-6">
                                <span data-bs-toggle="tooltip" data-bs-placement="top"
                                      {% if time == 'prep' %}data-bs-title="Prep time"{% elif time == 'cook' %}data-bs-title="Cook time"{% else %}data-bs-title="Ready in time"{% endif %}>
                                    <p class="card-text">
                                        {% if time == 'prep' %}<i class="fa-solid fa-mortar-pestle"></i>{% elif time == 'cook' %}<i class="fa-solid fa-kitchen-set"></i>{% else %}<i class="fa-solid fa-calculator"></i>{% endif %}
                                        {% if time == 'prep' %}{% human_readable_timedelta recipe_dto.prep_time %}{% elif time == 'cook' %}{% human_readable_timedelta recipe_dto.cook_time %}{% else %}{% human_readable_timedelta recipe_dto.total_time %}{% endif %}
                                    </p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
<!-- recipe_dto.html end -->
