<!-- new_user_notification.html start -->

{% load i18n %}

{# --- template variable defines for includes --- #}
{# new user notification template expects: 'user' as User #}

<div>
    <p>Welcome {{ user.first_name }}, thanks for joining the club. Let's get cooking!</p>
    <p class="text-dark">This is your one-stop shop for recipe ideas and ingredient boxes. Put away the recipe box and put the car in the garage, we'll deliver it all to your door!</p>
</div>
<!-- new_user_notification.html end -->
